.field.radio.inline {
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 3%;
}
.field.radio {
  padding: 0;
  margin: 0;
    margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  position: relative;
}

form fieldset {
  border: none;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0px;
  width: 100%;
}

.field.radio span.label, .field.radio legend.label {
  margin-bottom: 10px;
  padding-top: 1px;
}
form span.label, form legend.label {
  border: none;
  display: inline-block;
  color: #111;
  font-size: 100%;
  font-weight: 600;
  padding: 0;
    padding-top: 0px;
  text-align: left;
  margin: 0 0 5px;
    margin-bottom: 5px;
}

.radios-item {
  display: block;
  float: left;
}

.radios-item .input {
  position: relative;
}

.radios-item input[type="radio"] {
  opacity: 0;
  position: absolute;
  left: 2px;
  top: 25px;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
button, input {
  line-height: normal;
}
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

.radios-item input[type="radio"]:checked + span.label::after {
  content: "";
}
.radios-item input[type="radio"] + span.label::after {
  content: none;
}
.radios-item span.label::after {
  background-color: #222;
  border: 2px solid;
  border-radius: 50%;
  height: 8px;
  left: 3px;
  position: absolute;
  top: 8px;
  transition: opacity 0.2s ease-in-out;
  width: 8px;
}
.radios-item span.label::before, .radios-item span.label::after {
  position: absolute;
  content: "";
  display: inline-flex;
}
.radios-item span.label::before {
  border-radius: 50%;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 1px solid #595959;
  content: "";
  left: 0;
  position: absolute;
  top: 5px;
}
element {
}
.field.radio span.label, .field.radio legend.label {
  margin-bottom: 10px;
  padding-top: 1px;
}
.radios-item span.label {
  position: relative;
  padding-left: 34px;
  margin: 0;
    margin-bottom: 0px;
  font-weight: normal;
}
form span.label, form legend.label {
  border: none;
  display: inline-block;
  color: #111;
  font-size: 100%;
  font-weight: 600;
  padding: 0;
    padding-top: 0px;
    padding-left: 0px;
  text-align: left;
  margin: 0 0 5px;
}

.radios-item span.label::before {
  border-radius: 50%;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 1px solid #595959;
  content: "";
  left: 0;
  position: absolute;
  top: 5px;
}
.radios-item span.label::before, .radios-item span.label::after {
  position: absolute;
  content: "";
  display: inline-flex;
}
.radios-item span.label {
  font-weight: normal;
}
form span.label, form legend.label {
  color: #111;
  font-size: 100%;
  font-weight: 600;
  text-align: left;
}

.radios-item input[type="radio"]:checked + span.label::after {
  content: "";
}
.radios-item input[type="radio"] + span.label::after {
  content: none;
}
.radios-item span.label::after {
  background-color: #222;
  border: 2px solid;
  border-radius: 50%;
  height: 8px;
  left: 3px;
  position: absolute;
  top: 8px;
  transition: opacity 0.2s ease-in-out;
  width: 8px;
}
.radios-item span.label::before, .radios-item span.label::after {
  position: absolute;
  content: "";
  display: inline-flex;
}
.radios-item span.label {
  font-weight: normal;
}
form span.label, form legend.label {
  color: #111;
  font-size: 100%;
  font-weight: 600;
  text-align: left;
}